
<div class="widgetbox">
    <h4 class="widgettitle">Roles</h4>
    <div class="widgetcontent">
        @(Html.Kendo().Grid<Sinaicsp_API.ApplicationRole>()
      .Name("grid")
      .HtmlAttributes(new { style = "height:500px" })
      .Columns(columns =>
      {
          columns.Bound(c => c.Name);
          columns.Bound(c => c.IsDeleted);
          columns.Bound(c => c.CreationDate);
      })
      .Groupable()
      .ColumnMenu()
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("ApplicationRoles_Read", "UserManagement"))
      )
        )


    </div>
</div>