
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="widgetbox" style="min-height:610px">
    <h4 class="widgettitle"></h4>
    <div class="widgetcontent">
        <div style="text-align:center;height:550px">
            <img src="~/Images/SINAI Schools logo.jpeg" />
        </div>
        </div>
</div>