<script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#g_operations').css('display', 'block');
        });
</script>
<div class="widgetbox" style="min-height:610px">
    <h4 class="widgettitle">CSPs</h4>


    <div class="widgetcontent">
        <a class="btn btn-primary" href="@Url.Action("AddNewCSP")">Add New CSP</a>
        @(Html.Kendo().Grid<Sinaicsp_API.CSP>()
      .Name("grid")
      .HtmlAttributes(new { style = "height:500px" })
      .Columns(columns =>
      {
          columns.Template(e => { }).ClientTemplate("<a href='CSPItem/Notes/#= Id #'>Notes</a>").Width(125);

          columns.Bound(c => c.StudentName);
          columns.Bound(c => c.SchoolName);
          columns.Bound(c => c.SubjectName);
          columns.Bound(c => c.Materials);
          columns.Bound(c => c.TeacherNames);
          columns.Bound(c => c.SchoolYearName);
          columns.Bound(c => c.CreatedOn);
          columns.Bound(c => c.CreatedByUserName);
      })
      .Groupable()
      .ColumnMenu()
      .Sortable(sortable =>
      {
          sortable.SortMode(GridSortMode.SingleColumn);
      })
      .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(20)
          .Read(read => read.Action("CSPs_Read", "CSPItem"))
      )
        )

    </div>
</div>
